.home-style27{
	&.home{
		.main-page .page >.entry-content{ margin-top:0 !important;}
	}
	&.boxed-layout{
		max-width:1680px;
		background: #fff;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0 0 8px #000;
		.elementor-section-stretched{
			max-width: 1680px;
			margin-left: auto;
			margin-right: auto;
			left: 0 !important;
			right: 0 !important;
		}
		.elementor-section-full_width{
			max-width: 1680px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.sale-off{
		display:none;
		color:var(--color);
		font-size:10px;
		font-weight:400;
		line-height:20px;
		text-align:center; text-transform:uppercase;
		height:20px;
		left:10px;
		top:10px;
		background-color:#ffdcdc; border-radius:10px;
		border-top-left-radius:0;
		width: auto;
		padding: 0 10px;
		max-width: 60px;
		vertical-align: top;
	}
	&.rtl {
		.sale-off{
			right:10px;
			left:auto;
		}
		.item-price del{
			float:right;
			margin-left:10px;
			margin-right:0;
		}
	}
	div.star, div.stars{
		height:10px;
		width:60px; margin-left:-1px;
		 background: url("../assets/img/star-home27.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
		span{
			background: url('../assets/img/star-active-home27.png') repeat;
		}
	}

	>.body-wrapper >.body-wrapper-inner > .container, > .container{
		max-width:1920px;
		padding:0 !important;
	}
	.container .elementor-section.elementor-section-boxed > .elementor-container{
		max-width:1680px;
	}
	.elementor-widget-image .elementor-image img.size-full{ margin:0 0 10px; }
	.elementor-column-gap-default .elementor-column >.elementor-element-populated{
		padding:10px 15px;
	}
	.elementor-widget-image .elementor-image{
		a{
			display:block; overflow:hidden;
			img{ .transition(all 0.5s); .scale(1); opacity:1;}
		}
		&:hover img{
			.scale(1.1);opacity:1;
		}
	}
	[data-elementor-type*="footer"]{
		overflow-y:hidden;
	}
}
.image-full-home27.elementor-widget-image .elementor-image img.size-full{ margin:0 !important; }
.slider-home27{
	>.elementor-container{ max-width:1670px !important; }
	.elementor-column-gap-default .elementor-column >.elementor-element-populated{
		padding:20px 10px !important;
	}
	.col-right-slider27{ width:20% !important;}
}
#slider-home27{
	//.ares.tp-bullets{
		//background-color:#141b14; height:22px; padding:0 25px; border-radius:11px;
		//.tp-bullet{
		//	width:6px; height:6px; background-color:#fff; border-radius:50%;
	//		.tp-bullet-title{ display:none; }
	//	}
	//}
	.ares .tp-bullet{
		background-color:#fff !important;
		&.selected, &:hover{
			background-color:#168842 !important;
		}
	}
	.rs-layer.text2-slider27{
		position:relative;
		&:before{
			content:'';
			width:98%; height:3px; background-color:#000; position:absolute; top:-3px; left:2px; display:inline-block;
		}
		&:after{
			content:'';
			width:98%; height:3px; background-color:#000; position:absolute; bottom:-1px; left:2px; display:inline-block;
		}
	}
	.see-more13{
		height:35px !important;
		line-height:35px !important;
		color:#000 !important; font-weight:400 !important;
		position:relative !important;
		background-color:#feda00 !important;
		font-size:14px !important; border:1px solid #feda00 !important;
		padding:0 26px !important;  display:block !important; text-transform:uppercase !important;
		&:hover{
			background-color:#000 !important; color:#fff !important; border:1px solid #000 !important;
		}
		&.home27{
			background-color:#000 !important; color:#ffda00 !important; border:1px solid #000 !important;
			&:hover{ color:#fff !important;}
		}
	}
}
.header-style10.style-home27{
	.header-top-elementor10{
		border-bottom:1px solid #146937;
		.header-message, #lang_sel > ul.nav > li > a, .currency_w > li > a{
			color:#fff;
			&:after{ color:#fff; }
		}
		.elementor-widget-wp-widget-nav_menu ul.menu > li a{
			color:#fff;
			&:before{
				background-color:#146937;
			}
			&:hover{ color:#feda00; }
		}
		.currency_w > li{
			> a:before{
				background-color:#146937;
			}
			.currency_switcher{ left:0; right:auto;}
		}
	}
	.header-mid{
		.mega-left-title{
			color:#fff; 
			span{ 
				color:#fff; font-size:16px;
				&:after, &:before{ color:#fff; }
			}
		}
		.top-login{
			background:url('../assets/img/icon-myaccount27.png') no-repeat;
			a{ color:#fff;}
			a.btn-reg-popup{ color:#feda00;}
		}
		.top-form.top-form-minicart .top-minicart-icon{
			background:url('../assets/img/icon-cart27.png') no-repeat transparent;
			.title-cart h3{ color:#fff; .minicart-numbers{ color:#fff; }}
			 .title-cart .cart-contents span{ color:#feda00; }
		}
		.top-form.top-search{
			.cat-wrapper{ 
				padding-left:10px;
				right:85px; .rtl &{ left:85px; right:auto; }
				&:after{
					content:'';
					width:1px; height:24px; position:absolute; left:0px; top:12px; background-color:#ddd;
					.rtl &{ right:0; left:auto; }
				}
			}
			border-radius:25px;
			input{ border-radius:25px;}
			button.form-button{
				background-color:#168842; height:48px; top:1px; right:1px;
				.rtl &{ left:1px; right:auto;}
				&:hover{ background-color:#feda00;}
			}
		}
	}
	.header-bottom-elementor10{
		> .elementor-container{ background-color:#feda00; }
		.nav-pills >li{
			> a{ color:#000;}
			&.dropdown > a:after{
				content:'\f0d7'; font-size:12px;
			}
		}
		.header-right .order1, .header-right .order2{
			color:#000;
		}
		.header-right .order2{
			margin-right:20px;
			.rtl &{ margin-left:20px; margin-right:0; }
			&:after{ background-color:rgba(0,0,0,0.3); height:16px; top:0; }
		}
	}
}

.box-image-home27 .elementor-widget:not(:last-child){ margin:0 0 30px;}
.sw-category-slider10{
	padding-bottom:65px; border-bottom:1px dashed #ddd;
	margin:47px 0 60px;
	.box-title{
		overflow:hidden;
		margin:0 0 26px;
		h3{
			float:left; font-size:24px; font-weight:700; color:#000; margin-right:50px; line-height:29px;
			position:relative;
			.rtl &{
				float:right; margin-left:50px; margin-right:0;
				&:before{
					left:-26px; right:auto;
				}
			}
			&:before{
				content:''; width:1px; height:14px; background-color:#dedede;position:absolute; right:-26px; top:6px; z-index:3;
			}
		}
		.view-all{
			float:left; font-size:20px; color:#333; font-weight:400; line-height:29px; padding-right:43px;
			background: url("../assets/img/return3.svg") no-repeat; background-size:30px 30px;
			background-position:right center;
			.rtl &{
				background-position:left center; padding-right:0; padding-left:43px; float:right; background: url("../assets/img/return31.svg") no-repeat; background-size:30px 30px;
			}
			&:hover{ color:var(--color); }
		}
	}
	.resp-slider-container{
		.slider .slick-list{
			margin:0 -15px;
			.item{
				padding:0 15px;
				.item-wrap{
					.item-image{
						text-align:center;
						a{ display:inline-block; vertical-align:top; overflow:hidden; border-radius:50%;}
						img{ width:auto; .transition(all 0.5s); .scale(1); border-radius:50%; margin:0;}
						&:hover img{
							.scale(1.1)
						}
					}
					.item-content h3{
						text-align:center; display:block; margin-top:10px;
						a{
							font-size:16px; font-weight:700; color:#000; text-transform:capitalize;
							&:hover{ color:var(--color); }
						}
					}
				}
			}
		}
	}
}

.countdown-slider7{
	position:relative; margin:88px 0 60px;
	.button-style4;
	.res-button.slick-next, .res-button.slick-prev{
		&:before{
			color:var(--color);
		}
		&:hover:before{
			color:#fff;
		}
	}
	.box-title{
		display:inline-block;height:55px; padding:0 30px; background-color:#feda00; border-radius:27px; position:absolute; top:-28px; left:30px;
		.rtl &{
			right:30px; left:auto;
		}
		h3{
			float:left;
			font-size:20px; font-weight:700; color:#000; text-transform:capitalize; margin-right:50px;
			line-height:55px;position:relative;
			.rtl &{
				float:right; margin-left:55px; margin-right:0;
				&:before{ left:-26px; right:auto; }
			}
			&:before{
				content:''; width:1px; height:14px; background-color:var(--color); position:absolute; right:-26px; top:20px; z-index:3;
			}
		}
		.view-all{
			float:left; font-size:20px; color:#333; font-weight:400; line-height:55px; padding-right:43px;
			background: url("../assets/img/return3.svg") no-repeat; background-size:30px 30px;
			background-position:right center;
			&:hover{ color:var(--color); }
			.rtl &{
			 padding-right:0; padding-left:43px; float:right; background: url("../assets/img/return31.svg") no-repeat; background-size:30px 30px; background-position:left center;
			}
		}
	}
	.resp-slider-container{
		padding:55px 10px 40px 20px; border:2px solid var(--color);
		.slider .slick-list{
			position:relative; margin:0 -15px;
			.item{
				padding:0 15px; border-right:1px solid #ededed;
				.item-wrap{
					//border-left:1px solid #ededed;
					position:relative;
					.item-img{
						position:relative;
						.item-bottom{ left:10px; .rtl &{ right:10px; left:auto; }}
						.countdown-top{
							position:absolute; z-index:4; left:6px; bottom:0;
							height:46px; background-color:#f5f5f5; padding:0 28px; border-radius:22px;
							.rtl &{ padding:0 20px;}
							.count-title{
								float:left; font-size:12px; color:#999; margin-right:7px; line-height:46px;
								.rtl &{
									float:right; margin-left:7px; margin-right:0;
								}
							}
							.product-countdown2{
								float:left;
								.rtl &{ float:right; }
								.countdown-section{
									float:left;
									padding-right:14px; font-size:17px;
									position:relative; color:var(--color); font-weight:700; text-transform:uppercase; line-height:46px;
									.rtl &{
										float:right; padding-left:15px; padding-right:0;
										&:before{
											left:5px; right:auto;
										}
									}
									&:before{
										content:':';
										position:absolute; top:-1px; right:5px;
									}
									&:last-child{
										padding-right:0;
										&:before{
											content:'';
										}
									}
								}
							}
						}
					}
					.item-content{
						text-align: left;
						background-color: transparent;
						display: block;
						width: auto;
						padding: 25px 0 0px;
						.rtl &{
							text-align:right;
						}
						.item-price{
							font-size:16px; font-weight:700;
							color:var(--color); display:inline-block; vertical-align:top; margin:0 0 10px;
							ins{
								font-size:16px;
								color:var(--color); font-weight:700;
								text-decoration:none; float:left;
							}
							del{
								font-size:12px;
								color:#999; font-weight:400;
							}
						}
						h4{
							margin-bottom:3px;
							a{
								font-weight: normal;
								text-transform: capitalize;
								position: relative; font-size:14px; color:#000; line-heigt:20px;
								&:hover{ color:var(--color); }
							}
						}
						.reviews-content{
							float: none;
							display: block;
							padding: 5px 0;
							line-height: normal; color:#000;
							.star{
								float:left; margin-right:15px; margin-top:2px;
								.rtl &{
									float:right; margin-left:15px; margin-right:0;
								}
							}
						}
					}
				}
			}
		}
	}
}

.sw-child-cat8{
	margin:55px 0 10px;
	&.no-banner{
		.childcat-slider-content .resp-slider-container .slider .item{ 
			width:20%;
			&:nth-child(4n + 1){
				clear:none; 
			}
			&:nth-child(5n + 1){
				//clear:both;
			}
		}
	}
	.child-top{
		margin:0 0 30px;
		.box-title h3{
			font-size: 24px;
			font-weight: 700;
			color: #000;
			position: relative; text-transform:capitalize;
		}
		.childcat-content ul{
			margin:0;
			> li{
				border:0; border-radius:0; margin:0; float:left;
				.rtl &{ float:right; }
				> a{
					display:inline-block; height:30px; border-radius:15px; line-height:30px; padding:0 22px; color:#999; font-weight:400; text-transform:capitalize; border:0; margin:0;
				}
				&.active > a, &:hover > a{
					background-color:#feda00; color:#000;
				}
				&:first-child{
					display:inline-block; height:30px; border-radius:15px; line-height:30px; padding:0 22px; color:#000; font-weight:700; text-transform:capitalize; border:0; margin:0; background-color:#feda00;
				}
			}
		}
	}
	.childcat-slider-content{
		position:relative; margin:0 -15px;
		.banner-category{
			width:33.33%; position:relative; z-index:2; padding:0 15px;
			.item a{
				display:block; overflow:hidden;
				img{ .transition(all 0.5s); .scale(1);}
				&:hover img{ .scale(1.1)}
			}
		}
		.resp-slider-container{
			position:relative;
			.slider{
				.item{
					float:left; width:16.667%; padding:0 15px; margin:0 0 30px;
					&:nth-child(5){
						clear:both;
					}
					.item-wrap{
						.item-img{
							.item-bottom{ top:40px; left:0; .rtl &{ right:0; left:auto; }}
						}
						.item-content{
							text-align: left;
							background-color: transparent;
							display: block;
							width: auto;
							padding: 20px 0 0px;
							.rtl &{
								text-align:right;
							}
							.item-price{
								font-size:16px; font-weight:700;
								color:var(--color); display:inline-block; vertical-align:top; margin:0 0 10px;
								ins{
									font-size:16px;
									color:var(--color); font-weight:700;
									text-decoration:none; float:left;
								}
								del{
									font-size:12px;
									color:#999; font-weight:400;
								}
							}
							h4{
								margin-bottom:3px;
								a{
									font-weight: normal;
									text-transform: capitalize;
									position: relative; font-size:14px; color:#000; line-heigt:20px;
									&:hover{ color:var(--color); }
								}
							}
							.reviews-content{
								float: none;
								display: block;
								padding: 5px 0;
								line-height: normal; color:#000;
								.star{
									float:left; margin-right:15px; margin-top:2px;
									.rtl &{
										float:right; margin-left:15px; margin-right:0;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.sw-woo-tab-theme11 .resp-tab{
	margin:0 0 27px;
	.category-top-slider{
		.box-title{
			float:left;
			overflow:hidden;
			margin:0 0 30px;
			.rtl &{
				float:right;
			}
			h3{
				float:left; font-size:24px; font-weight:700; color:#000; margin-right:50px; line-height:29px;
				position:relative;
				.rtl &{
					float:right; margin-left:50px; margin-right:0;
					&:before{
						left:-26px; right:auto;
					}
				}
				&:before{
					content:''; width:1px; height:14px; background-color:#dedede;position:absolute; right:-26px; top:6px; z-index:3;
				}
			}
			.see-all{
				float:left; font-size:20px; color:#333; font-weight:400; line-height:29px; padding-right:43px;
				background: url("../assets/img/return3.svg") no-repeat; background-size:30px 30px;
				background-position:right center;
				.rtl &{
					float:right; background-position:left center; padding-left:43px; padding-right:0; 
					background: url("../assets/img/return31.svg") no-repeat; background-size:30px 30px;
				}
				&:hover{ color:var(--color); }
			}
		}
		.nav-tabs-select ul{
			margin:0; border:0;
			> li{
				border:0; border-radius:0; margin:0;
				> a{
					display:inline-block; height:30px; border-radius:15px; line-height:30px; padding:0 22px; color:#999; font-weight:400; text-transform:capitalize; border:0; margin:0;
				}
				&.active > a, &:hover > a{
					background-color:#feda00; color:#000;
				}
				&.active > a{
					font-weight:700;
				}
			}
		}
	}
	.woo-tab-container-slider{
		position:relative;
		.button-style4;
	}
	.resp-slider-container .slider{
		text-align:center;
		.slick-list{
			position:relative; margin:0 -15px;
			.item{
				padding:0 15px;
				.item-wrap{
					.item-img .item-bottom{ left:0; .rtl &{ right:0; left:auto; }}
					.item-content{
						text-align: left;
						background-color: transparent;
						display: block;
						width: auto;
						padding: 25px 0 0px;
						.rtl &{
							text-align:right;
						}
						.item-price{
							font-size:16px; font-weight:700;
							color:var(--color); display:inline-block; vertical-align:top; margin:0 0 10px;
							ins{
								font-size:16px;
								color:var(--color); font-weight:700;
								text-decoration:none; float:left;
							}
							del{
								font-size:12px;
								color:#999; font-weight:400;
							}
						}
						h4{
							margin-bottom:3px;
							a{
								font-weight: normal;
								text-transform: capitalize;
								position: relative; font-size:14px; color:#000; line-heigt:20px;
								&:hover{ color:var(--color); }
							}
						}
						.reviews-content{
							float: none;
							display: block;
							padding: 5px 0;
							line-height: normal; color:#000;
							.star{
								float:left; margin-right:15px; margin-top:2px;
								.rtl &{
									float:right; margin-left:15px; margin-right:0;
								}
							}
						}
					}
				}
			}
		}
		.slick-dots{
			margin:22px 0 30px; list-style:none; display:inline-block;
			> li{
				float:left;
				button{
					display:inline-block; height:6px; width:6px; background-color:#999;
					margin-right:18px;
					margin-bottom: 0;
					font-size: 0;
					padding: 0;
					border-radius:50%; border:0;
				}
				&.slick-active button{
					background-color:#000;
				}
			}
		}
	}
}
.sw-slider-latest2, .featured-product2{
	position:relative;
	.box-title{
		overflow:hidden;
		h3{
			font-size: 24px;
			font-weight: 700;
			color: #000;
			position: relative;
			float:left;
			.rtl &{ float:right;}
		}
	}
	.button-style5;
	.res-button{ 
		top:3px;
		&.slick-prev{ right:22px; }
		&.slick-next{
			right:-5px;
			&:after{ top:4px; .rtl &{ right:17px; left:auto; } }
		}
	}
	.resp-slider-container .slick-list{
		.item .item-wraps{
			&:last-child{
				.item-detail{
					border:0;
				}
			}
			.item-detail{
				overflow:hidden;
				margin-bottom:0;
				padding:10px 0;
				border-bottom:0;
				&:hover{
					.item-img img{
						opacity:0.85;
					}
				}
				.item-content{
					text-align: left;
					padding:20px 0 0; overflow: hidden;
					.rtl &{
						text-align:right;
					}
					.item-price{
						font-size:16px; font-weight:700;
						color:var(--color); display:inline-block; vertical-align:top; margin:0 0 10px;
						ins{
							font-size:16px;
							color:var(--color); font-weight:700;
							text-decoration:none; float:left;
						}
						del{
							font-size:12px;
							color:#999; font-weight:400;
						}
					}
					h4{
						margin-bottom:5px;
						a{
							font-weight: normal;
							text-transform: capitalize;
							position: relative; font-size:14px; color:#000; line-heigt:20px;
							&:hover{ color:var(--color); }
						}
					}
					.reviews-content{
						float: none;
						display: block;
						padding: 5px 0;
						line-height: normal; color:#000;
						.star{
							float:left; margin-right:15px; margin-top:2px;
							.rtl &{
									float:right; margin-left:15px; margin-right:0;
								}
						}
					}
				}
				.item-img{
					width:120px;
					float:left;
					margin-right:15px;
					.rtl &{
						float:right;
						margin-left:15px;
						margin-right:0;
					}
				}
			}
		}
	}
}

.recent-view-home27 .sw-recent-viewed-slider2{
	margin-bottom:15px !important; 
}
.sw-recent-viewed-slider2{
	position:relative;
	margin-top:50px; 
	//.button-style5;
	.box-title h3{
		font-size: 24px;
		font-weight: 700;
		color: #000;
		position: relative;
		margin:0 0 40px;
	}
	.resp-slider-container .slider{
		text-align:center;
		.slick-list{
			position:relative; margin:0 -15px;
			.item{
				padding:0 15px; border-right:1px solid #ededed;
				 .item-wrap .item-detail{
					overflow:hidden;
					.item-img{
						width:120px;
						float:left;
						margin-right:15px;
						.rtl &{
							float:right;
							margin-left:15px;
							margin-right:0;
						}
					}
					.item-content{
						text-align: left;
						background-color: transparent;
						display: block;
						width: auto;
						padding: 15px 0 0px;
						.rtl &{
							text-align:right;
						}
						.item-price{
							font-size:16px; font-weight:700;
							color:var(--color); display:inline-block; vertical-align:top; margin:0 0 10px;
							ins{
								font-size:16px;
								color:var(--color); font-weight:700;
								text-decoration:none; float:left;
							}
							del{
								font-size:12px;
								color:#999; font-weight:400;
							}
						}
						h4{
							margin-bottom:5px;
							a{
								font-weight: normal;
								text-transform: capitalize;
								position: relative; font-size:14px; color:#000; line-heigt:20px;
								&:hover{ color:var(--color); }
							}
						}
						.reviews-content{
							float: none;
							display: block;
							padding: 5px 0;
							line-height: normal; color:#000;
							.star{
								float:left; margin-right:15px; margin-top:2px;
								.rtl &{
									float:right; margin-left:15px; margin-right:0;
								}
							}
						}
					}
				}
			}
		}
		.slick-dots{
			margin:30px 0 7px; list-style:none; display:inline-block;
			> li{
				float:left;
				button{
					display:inline-block; height:6px; width:6px; background-color:#999;
					margin-right:18px;
					margin-bottom: 0;
					font-size: 0;
					padding: 0;
					border-radius:50%; border:0;
				}
				&.slick-active button{
					background-color:#000;
				}
			}
		}
	}
}

.sw-brand-container-slider6{
	margin-bottom:10px;
	.box-title{
		float:left; width:11%;
		.rtl &{ float:right; }
		h3{
			font-size:14px; color:#6d6e71; text-transform:capitalize; margin:0; font-weight:400; padding:12px 0;
		}
	}
	.resp-slider-container{
		float:left; width:89%;
		.rtl &{ float:right; }
		.slick-list{
			 padding:0 0 0 20px;
			.item .item-image a{
				display:inline-block; max-width:100%;
				img{ .transition(all 0.3s); .scale(1);}
				&:hover img{ .scale(1.1); }
			}
		}
	}
}

.footer-top-home27{
	margin-top:25px;
	.newsletter-footer27 .wrap-content{
		.mc4wp-form{
			position:relative;
			input{
				height:52px;
				border:0; border-radius:0;
			}
			input[type="email"]{
				border:1px solid #000; padding:0 20px; float:left; min-width:450px; border-right:0;
				.rtl &{ float:right; border-left:0; border-right:1px solid #000;}
			}
			input[type="submit"]{
				padding:0 40px; font-size:15px; font-weight:700; color:#fff; font-family:Roboto; text-transform:capitalize; background-color:#000;
				.rtl &{ float:right; }
				float:left;
				&:hover{ background-color:var(--color);}
			}
		}
	}
	.socials-footer-27 .wrap-content{
		overflow:hidden; padding:15px 0;
		.footer-mobile-app{
			padding:12px 0 12px 40px;
			float:right; font-size:14px; color:#000; margin-left:100px;
			background: url("../assets/img/app.svg") no-repeat; background-size:30px 30px;
			background-position:left center;
			&:hover{ color:var(--color); }
			.rtl &{
				float:left; margin-right:100px; margin-left:0;
				padding:12px 40px 12px 0px; background-position:right center;
			}
		}
		ul{
			float:right; margin:10px 0;
			.rtl &{ float:left; }
			> li{
				float:left;
				a{ font-size:16px; color:#000; display:inline-block; vertical-align:top; padding:0 20px; &:hover{ color:var(--color); }}
			}
		}
	}
}
.footer-menu-home27{
	padding:38px 0 32px;
	.elementor-widget-wp-widget-nav_menu{
		h5{
			font-size:14px; font-weight:700; color:#000; text-transform:capitalize; margin:0 0 15px;
		}
		ul.menu{
			> li{
				> a{
					font-size:12px; font-weight:400; display:block; padding:8px 0; color:#000;
				}
				&:hover > a, &.active > a{
					color:var(--color);
				}
			}
		}
	}
}
.footer-copyright-home27{
	margin-top:30px;
	> .elementor-container{
		max-width:1650px !important;
		border-top:1px solid #ededed;
	}
	.elementor-column-gap-default .elementor-column >.elementor-element-populated{ padding:10px 0 !important;}
	.copyright-left{
		text-align:left; font-size:12px; color:#000; padding:11px 0;
		font-weight:400;
		.rtl &{ text-align:right; }
		a{ color:#fff; &:hover{ color:var(--color); }}
	}
	.copyright-right{
		text-align:right; font-size:12px; color:#999; padding:11px 0;
		font-weight:400;
		.rtl &{ text-align:left; }
		a{ color:#999; 
			&:before{
				content:'\f004'; margin:0 6px;
				font-family:FontAwesome; color:#f22c29;
			}
			&:hover{ color:var(--color); }
		}
	}
}

@media (max-width: 1500px) {
	.footer-copyright-home27 .elementor-column-gap-default .elementor-column >.elementor-element-populated{
		padding:10px 15px !important;
	}
}

@media (min-width: 1680px) {
	.countdown-slider7 .resp-slider-container{ padding:55px 30px 40px 30px; }
	.sw-slider-latest2 .resp-slider-container .slick-list .item .item-wraps .item-detail .item-content, .featured-product2 .resp-slider-container .slick-list .item .item-wraps .item-detail .item-content{
		padding-right:30px;
		.rtl &{ padding-left:30px; padding-right:0; }
	}
}

@media (min-width: 1200px) and (max-width: 1680px) {
	.sw-child-cat8 .childcat-slider-content .resp-slider-container .slider .item .item-wrap .item-content{
		padding:5px 0 0px;
	}
	.sw-slider-latest2 .resp-slider-container .slick-list .item .item-wraps .item-detail, .featured-product2 .resp-slider-container .slick-list .item .item-wraps .item-detail{
		padding:0 0 10px;
		.item-content{ padding:5px 0 0;}
	}
	.countdown-slider7 .resp-slider-container .slider .slick-list .item .item-wrap .item-img .countdown-top{
		padding:0 10px;
		.product-countdown2 .countdown-section{ font-size:14px; }
	}
	.sw-woo-tab-theme11 .resp-tab .resp-slider-container .slider .slick-list{
		margin:0 -15px;
		.item{
			padding:0 15px;
		}
	}
	.box-image-home27 .elementor-widget:not(:last-child){ margin:0 0 24px; }
	.footer-top-home27 .newsletter-footer27 .wrap-content .mc4wp-form input[type="email"]{
		min-width:350px;
	}
	.sw-recent-viewed-slider2 .resp-slider-container .slider .slick-list .item .item-wrap .item-detail{
		.item-img{ width:100px;}
		.item-content{
			padding:0;
		}
	}
}

@media (max-width: 1199px) {
	.footer-top-home27 .newsletter-footer27 .wrap-content .mc4wp-form input[type="email"]{
		min-width:200px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.countdown-slider7 .resp-slider-container .slider .slick-list .item .item-wrap .item-img .countdown-top .count-title{ display:none; }
	.countdown-slider7 .resp-slider-container .slider .slick-list .item .item-wrap .item-img .countdown-top{ padding:0 10px; }
	.box-image-home27 .elementor-widget:not(:last-child){ margin:0 0 16px;}
	.sw-child-cat8 .childcat-slider-content{
		.banner-category{
			display:none;
		}
		.resp-slider-container .slider .item{
			width:20%;
			&:nth-child(5){
				clear:none;
			}
			&:nth-child(6){
				clear:both;
			}
		}
	}
}

@media (max-width: 991px) {
	.box-image-home27 .elementor-widget:not(:last-child){ margin:0 0 12px;}
}

@media (min-width: 768px) and (max-width: 991px) {
	.countdown-slider7 .resp-slider-container .slider .slick-list .item .item-wrap .item-img .countdown-top .count-title{ display:none; }
	.countdown-slider7 .resp-slider-container .slider .slick-list .item .item-wrap .item-img .countdown-top{ padding:0 10px; }
	.sw-child-cat8 .childcat-slider-content{
		.banner-category{
			display:none;
		}
		.resp-slider-container .slider .item{
			width:33.33%;
			&:nth-child(5){
				clear:none;
			}
			&:nth-child(3n + 1){
				clear:both;
			}
		}
	}
	.sw-child-cat8.no-banner .childcat-slider-content .resp-slider-container .slider .item{ width:33.33%; }
	.sw-woo-tab-theme11 .resp-tab .category-top-slider .nav-tabs-select ul > li > a{
		padding:0 15px;
	}
	.sw-woo-tab-theme11 .resp-tab .category-top-slider .box-title h3{ font-size:18px;}
	.sw-woo-tab-theme11 .resp-tab .category-top-slider .box-title .see-all{ font-size:16px; }
	.footer-top-home27 .socials-footer-27 .wrap-content{ padding:0; }
	.featured-product2{ margin:30px 0 0;}
}

@media (max-width: 767px) {
	.slider-home27 .col-right-slider27{ width:100% !important;}
	.sw-category-slider10{
		padding-bottom:25px;
		margin:27px 0 20px;
	}
	.header-style10.style-home27 .header-mid .top-form.top-search button.form-button{ height:38px; }
	.sw-brand-container-slider6 .box-title{
		float:none !important; width:100%;
	}
	.sw-brand-container-slider6 .resp-slider-container{ float:none !important; width:100%; }
	.countdown-slider7{ margin:48px 0 20px; }
	.sw-child-cat8{
		.child-top{
			margin-bottom:20px; position:relative;
			.childcat-content{
				display:none;
				position: absolute;
				top: 40px;
				right: 1px;
				z-index: 99;
				box-shadow: 0 3px 3px rgba(0,0,0,0.3);
				background: #fff;
				width: 200px;
				padding:0;
				.rtl &{
					right: auto;
					left: 1px;
				}
				ul{
					padding: 10px 10px;
					li{
						padding: 0;
						display: block; float:none !important;
						&:first-child{ display:block; background-color:transparent; text-align:center; }
						a{
							display: block;
							padding: 4px 0;
							border-right: 0; height:auto; text-align:center;
							.rtl &{
								border-left: 0;
							}
						}
						&:last-child{
							a{
								border: none !important;
							}
						}
					}
				}
				&.in{ display:block;}
				ul{
				
				}
			}
			.navbar-toggle{
				margin:0;
				.rtl &{ float:left; }
				.icon-bar{
					background-color:var(--color);
				}
			}
		}
		.childcat-slider-content{
			.banner-category{
				display:none;
			}
			.resp-slider-container .slider .item{
				width:50%;
				&:nth-child(5){
					clear:none;
				}
				&:nth-child(2n + 1){
					clear:both;
				}
			}
		}
	}
	.sw-child-cat8.no-banner .childcat-slider-content .resp-slider-container .slider .item{ width:50%; }
	.sw-child-cat8.no-banner .childcat-slider-content .resp-slider-container .slider .item:nth-child(2n + 1){ clear:both; }
	.sw-woo-tab-theme11 .resp-tab .category-top-slider .box-title h3, .sw-category-slider10 .box-title h3{ font-size:18px;}
	.sw-woo-tab-theme11 .resp-tab .category-top-slider .box-title .see-all, .sw-category-slider10 .box-title .view-all{ font-size:16px; }
	.countdown-slider7 .box-title h3{ font-size:16px;}
	.countdown-slider7 .box-title .view-all{ font-size:14px; padding:0 !important;  background-image:none !important;; }
	.sw-child-cat8{ margin:15px 0 10px;}
	.sw-woo-tab-theme11 .resp-tab{ margin:0; }
	.sw-slider-latest2 .box-title h3, .featured-product2 .box-title h3, .sw-recent-viewed-slider2 .box-title h3{
		font-size:18px;
	}
	.sw-slider-latest2 .res-button, .featured-product2 .res-button{ top:10px; }
	.sw-woo-tab-theme11 .resp-tab{
		.category-top-slider{
			position:relative;
			.box-title{ margin:0 0 10px;}
			.nav-tabs-select .nav.nav-tabs{
				display:none;
				position: absolute;
				top: 40px;
				right: 1px;
				z-index: 99;
				box-shadow: 0 3px 3px rgba(0,0,0,0.3);
				background: #fff;
				width: 200px;
				padding:0;
				.rtl &{
					right: auto;
					left: 1px;
				}
				padding: 10px 10px;
				> li{
					padding: 0;
					display: block; float:none !important; float:none;
					> a{
						display: block;
						padding: 4px 0;
						border-right: 0; height:auto; text-align:center; border-radius:0;
						.rtl &{
							border-left: 0;
						}
					}
					&:last-child{
						a{
							border: none !important;
						}
					}
				}
				&.in{ display:block; padding:0;}
			}
			.navbar-toggle{
				margin:0; padding:5px 10px;
				.rtl &{ float:left; }
				.fa-bar{
					background-color:var(--color);
					display: block;
					width: 22px;
					height: 2px;
					border-radius: 1px; margin-bottom:4px;
				}
			}
		}
	}
	.footer-menu-home27 .elementor-widget-wp-widget-nav_menu{
		text-align:left !important;
		.rtl &{
			text-align:right !important; 
		}
	}
	.newsletter-footer27 .wrap-content{
		text-align:center;
		.mc4wp-form{ display:inline-block;}
	}
	.footer-top-home27 .socials-footer-27{
		text-align:center;
		.wrap-content{
			display:inline-block;
		}
	}
	.footer-copyright-home27 .copyright-left, .footer-copyright-home27 .copyright-right{
		text-align:center !important; padding:3px 0;
	}
}

@media (max-width: 640px) {

}

@media (max-width: 480px) {
	.sw-child-cat8 .childcat-slider-content .resp-slider-container .slider .item, .sw-child-cat8.no-banner .childcat-slider-content .resp-slider-container .slider .item{
		width:100%;
	}
	.sw-woo-tab-theme11 .resp-tab .category-top-slider .box-title .see-all{
		padding:0; background-image:none !important;
	}
	.footer-top-home27 .socials-footer-27 .wrap-content{
		padding:0;
		.footer-mobile-app{display:none; }
	}
}

@media (max-width: 360px) {

}